body{
    margin: 0;
    padding: 0;
    background-image: url('home.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.button-layout {
    position: fixed;
    left: 17vw;   /* 17% del ancho del viewport */
    top: 77vh;    /* 77% de la altura del viewport */
    width: 320px;   /* Ancho del bot贸n  */
    height: 120px;  /* Altura del bot贸n */
    background: transparent; /* Hace que el fondo del bot贸n sea transparente */
    border: none; /* Elimina el borde del bot贸n */
    color: transparent; /* Hace que el color del texto sea transparente */
}