body{
    margin: 0;
    padding: 0;
    background-image: url('rescategatitohd.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}

#phaser-container {
    width: 400%; /* Ancho deseado del juego */
    height: 500%; /* Alto deseado del juego */
}

.buttonBack {
    position: fixed;
    left: 60px;    /* Coordenada X     */
    top: 25px;     /* Coordenada Y     */
    width: 260px;   /* Ancho del botón  */
    height: 110px;  /* Altura del botón */
    background: transparent; /* Hace que el fondo del botón sea transparente */
    border: none; /* Elimina el borde del botón */
    color: transparent; /* Hace que el color del texto sea transparente */
}

button {
    width: 260px;   /* Ancho del botón  */
    height: 110px;  /* Altura del botón */
    /*background: transparent; /* Hace que el fondo del botón sea transparente */
    /*border: none; /* Elimina el borde del botón */
    /*color: transparent; /* Hace que el color del texto sea transparente */
}



