body{
    margin: 0;
    padding: 0;
    background-image: url('rescategatitohd.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
    margin-left:0px;
    margin-top: 180px;
    display: flex;
    align-items:center;

    
}

#phaser-container {
    width: 400px; /* Ancho deseado del juego /
    height: 500px; / Alto deseado del juego */
}



